<mat-tab-group color="accent" *ngIf="todoList().length > 0; else noTasks">
  <mat-tab label="Em andamento">
    <ng-container *ngIf="pendingTodos().length > 0; else noPending">
      <mat-card class="todo_card" *ngFor="let todo of pendingTodos()">
        <mat-card-header>
          <mat-card-title class="todo_card_title">
            {{ todo.title }}
          </mat-card-title>

          <mat-card-subtitle class="todo_card_subtitle">
            {{ todo.description }}
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-actions align="end">
          <button
            mat-icon-button
            aria-label="Concluir Tarefa"
            (click)="handleToggleTodo(todo.id)"
          >
            <mat-icon>done_all</mat-icon>
          </button>

          <button
            mat-icon-button
            aria-label="Deletar Tarefa"
            (click)="handleDeleteTodo(todo)"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </mat-tab>

  <mat-tab label="Concluídas">
    <ng-container *ngIf="completedTodos().length > 0; else noCompleted">
      <mat-card class="todo_card" *ngFor="let todo of completedTodos()">
        <mat-card-header>
          <mat-card-title class="todo_card_title">
            {{ todo.title }}
          </mat-card-title>

          <mat-card-subtitle class="todo_card_subtitle">
            {{ todo.description }}
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-actions align="end">
          <button
            mat-icon-button
            aria-label="Reabrir Tarefa"
            (click)="handleToggleTodo(todo.id)"
          >
            <mat-icon>undo</mat-icon>
          </button>

          <button
            mat-icon-button
            aria-label="Deletar Tarefa"
            (click)="handleDeleteTodo(todo)"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </mat-tab>
</mat-tab-group>

<ng-template #noTasks>
  <h3 class="warn_message">Não existem tarefas cadastradas</h3>
</ng-template>

<ng-template #noPending>
  <h3 class="warn_message">Não há tarefas em andamento</h3>
</ng-template>

<ng-template #noCompleted>
  <h3 class="warn_message">Não há tarefas concluídas</h3>
</ng-template>
